body {
  font-family: "Poppins", serif;
  color: #22343d;
  font-size: 16px;
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
/*---------------------------Header--------------------------------*/
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 178px;
  height: 36px;
  margin-left: 146;
}
.navigation {
}
.navigation-list {
}
.nav-list-item {
}
.nav-list-link {
}
.header-list-button {
}
.header-btn-item {
}
.header-btn-singin {
}
.header-btn-singup {
}
